.instruction {
  position: relative;
  display: inline-block;
  text-align: center;
  border-radius: 10px;
}

.instruction :is(.selected, .clickable) {
  cursor: pointer;
}

.instruction p {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 13px;
}

.instruction p.unassigned {
  color: red;
}

.instruction .tag-edit {
  display: block;
}

.instruction > :global(.instruction-drop-area) {
  top: -5px;
  left: -22px;
}

.instruction :global(.extra-landing-pad) {
  right: -25px;
  left: auto;
}

.img {
  position: relative;
  height: 16px;
  display: inline-block;
  z-index: 10;
}

.energized-wrapper {
  position: relative;
  width: 10px;
  margin: 0 auto;
}

.energized .energized-wrapper::before {
  content: '';
  top: 4px;
  left: -20px;
  width: 50px;
  height: 8px;
  background-color: lime;
  position: absolute;
}

.delete {
  visibility: hidden;
  top: -18px;
  left: -18px;
  position: absolute;
  width: 60px;
  height: 40px;
  text-align: right;
  z-index: 4;
}

.delete-icon:hover {
  color: #ffa94d;
  cursor: pointer;
}

.delete.deletable {
  visibility: visible;
}

.interact-outline {
  outline: 2px dashed #ffa94d;
  outline-offset: 5px;
}
