.instruction-palette {
  display:flex;
  align-items:center;
  justify-content: center;
  gap:50px;
  padding-block:10px;
}

.instruction-palette .rung-instruction {
  margin-top:0;
  cursor:pointer;
}