.mantine-root {
  height: 100%;
  overflow: hidden;
}

.mantine-tabslist {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1;
}

.mantine-tabspanel {
  height: calc(100% - 40px);
}

.routine-editor-wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}
