.rung {
  padding-inline: 10px;
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-rows: auto auto;
  min-height: 50px;
  outline-offset: -5px;
}

.rung + .rung {
  margin-top: 20px;
}

.rung > div {
  display: inline-block;
}

.rung-number {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  padding-block-start: 32px;
  width: 100%;
  height: 80%;
  text-align: center;
}

.rung-comment {
  grid-column: 2 / 3;
  place-self: center;
}

.rung-code {
  grid-column: 2 / 3;
  align-self: center;
  overflow-x: auto;
  position: relative;
  white-space: nowrap;
  padding-bottom: 20px;
  user-select: none;
}

.rung-code:before {
  display: inline-block;
  height: 50px;
  width: 25px;
  border-right: 2px solid black;
  vertical-align: top;
  margin-top: 16px;
  content: "";
}

.rung-code::after {
  display: inline-block;
  height: 50px;
  width: 25px;
  border-left: 2px solid black;
  vertical-align: top;
  margin-top: 16px;
  content: "";
}

.rung-main-rung {
  position: relative;
  display: inline-block;
  min-width: 94%;
}

.rung-line-wrapper {
  position: relative;
}

.rung-line {
  position: relative;
  height: 2px;
  background: black;
  position: absolute;
  width: 100%;
  top: 40px;
  left: 0;
  right: 0;
}

.rung-line:before,
.rung-line:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 20px;
  top: -10px;
  z-index: 3;
}

.rung-line:before {
  left: -15px;
}
.rung-line:after {
  right: -15px;
}

.rung-line-select {
  position: absolute;
  outline: 1px dashed black;
  background: yellow;
  width: 100%;
  height: 10px;
  top: -4px;
  z-index: -5;
}

.rung-line-select.clickable {
  background: none;
}

.rung-line-clickable {
  cursor: pointer;
}

.rung-instruction-wrapper {
  position: relative;
  white-space: nowrap;
  min-width: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 0 30px;
  display: flex;
  align-items: flex-start;
  gap: 25px;
  min-height: 1em;
}

.rung-or {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.rung-or:before,
.rung-or:after {
  content: "";
  width: 2px;
  background: black;
  display: block;
  position: absolute;
  top: 40px;
  min-height: 50px;
  height: var(--line-height);
}

.rung-or::after {
  right: 0;
}

.rung-branch {
  position: relative;
  min-height: 50px;
}

.landing-pad {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  z-index: 4;
}

.landing-pad * {
  pointer-events: none;
}

.rung-or > .landing-pad {
  top: 28px;
  left: -25px;
}

.rung-instruction > .landing-pad {
  top: -5px;
  left: -22px;
}

.rung-instruction-wrapper > .landing-pad {
  top: 28px;
  right: 8px;
}

#extra-landing-pad-first-ele {
  left: 6px;
}

#extra-landing-pad {
  right: -25px;
  left: auto;
}

.landing-beacon {
  outline: 1px solid red;
  background: yellow;
  width: 8px;
  height: 8px;
}

.go-for-landing .landing-beacon {
  background: lime;
}

.hidden {
  display: none;
}

.dragging {
  opacity: 0.5;
}

.destructive:not(.destructive + .destructive) {
  margin-left: auto;
}
.or-destructive {
  margin-left: auto !important;
}

.clickable:not(.selected) {
  outline: 1px dashed black;
  cursor: pointer;
}
